/*
   SPACING

   An eight step powers of two scale ranging from 0 to 16rem.

   Legend:

   p = padding
   m = margin

   a = all
   h = horizontal
   v = vertical
   t = top
   r = right
   b = bottom
   l = left

   n = none
   xs = extra small
   s = small
   m = medium
   l = large
   x = extra
   xl = extra large
   xxl = extra extra large

    */

.pan  {  padding: 0; }
.paxs {  padding: .25rem; }
.pas  {  padding: .5rem; }
.pam  {  padding: 1rem; }
.pal  {  padding: 2rem; }
.pax  {  padding: 4rem; }
.paxl {  padding: 8rem; }
.paxxl { padding: 16rem; }

.pln  {  padding-left: 0; }
.plxs {  padding-left: .25rem; }
.pls  {  padding-left: .5rem; }
.plm  {  padding-left: 1rem; }
.pll  {  padding-left: 2rem; }
.plx  {  padding-left: 4rem; }
.plxl {  padding-left: 8rem; }
.plxxl { padding-left: 16rem; }

.prn  {  padding-right: 0; }
.prxs {  padding-right: .25rem; }
.prs  {  padding-right: .5rem; }
.prm  {  padding-right: 1rem; }
.prl  {  padding-right: 2rem; }
.prx  {  padding-right: 4rem; }
.prxl {  padding-right: 8rem; }
.prxxl { padding-right: 16rem; }

.pbn  {  padding-bottom: 0; }
.pbxs {  padding-bottom: .25rem; }
.pbs  {  padding-bottom: .5rem; }
.pbm  {  padding-bottom: 1rem; }
.pbl  {  padding-bottom: 2rem; }
.pbx  {  padding-bottom: 4rem; }
.pbxl {  padding-bottom: 8rem; }
.pbxxl { padding-bottom: 16rem; }

.ptn  {  padding-top: 0; }
.ptxs {  padding-top: .25rem; }
.pts  {  padding-top: .5rem; }
.ptm  {  padding-top: 1rem; }
.ptl  {  padding-top: 2rem; }
.ptx  {  padding-top: 4rem; }
.ptxl {  padding-top: 8rem; }
.ptxxl { padding-top: 16rem; }

.pvn {   padding-top: 0;       padding-bottom: 0; }
.pvxs {  padding-top: .25rem;  padding-bottom: .25rem; }
.pvs {   padding-top: .5rem;   padding-bottom: .5rem; }
.pvm {   padding-top: 1rem;    padding-bottom: 1rem; }
.pvl {   padding-top: 2rem;    padding-bottom: 2rem; }
.pvx {   padding-top: 4rem;    padding-bottom: 4rem; }
.pvxl {  padding-top: 8rem;    padding-bottom: 8rem; }
.pvxxl { padding-top: 16rem;   padding-bottom: 16rem; }

.phn {   padding-left: 0;      padding-right: 0; }
.pvxs {  padding-left: .25rem; padding-right: .25rem; }
.phs {   padding-left: .5rem;  padding-right: .5rem; }
.phm {   padding-left: 1rem;   padding-right: 1rem; }
.phl {   padding-left: 2rem;   padding-right: 2rem; }
.phx {   padding-left: 4rem;   padding-right: 4rem; }
.phxl {  padding-left: 8rem;   padding-right: 8rem; }
.phxxl { padding-left: 16rem;  padding-right: 16rem; }

.man  {  margin: 0; }
.maxs {  margin: .25rem; }
.mas  {  margin: .5rem; }
.mam  {  margin: 1rem; }
.mal  {  margin: 2rem; }
.max  {  margin: 4rem; }
.maxl {  margin: 8rem; }
.maxxl { margin: 16rem; }

.mln  {  margin-left: 0; }
.mlxs {  margin-left: .25rem; }
.mls  {  margin-left: .5rem; }
.mlm  {  margin-left: 1rem; }
.mll  {  margin-left: 2rem; }
.mlx  {  margin-left: 4rem; }
.mlxl {  margin-left: 8rem; }
.mlxxl { margin-left: 16rem; }

.mrn  {  margin-right: 0; }
.mrxs {  margin-right: .25rem; }
.mrs  {  margin-right: .5rem; }
.mrm  {  margin-right: 1rem; }
.mrl  {  margin-right: 2rem; }
.mrx  {  margin-right: 4rem; }
.mrxl {  margin-right: 8rem; }
.mrxxl { margin-right: 16rem; }

.mbn  {  margin-bottom: 0; }
.mbxs {  margin-bottom: .25rem; }
.mbs  {  margin-bottom: .5rem; }
.mbm  {  margin-bottom: 1rem; }
.mbl  {  margin-bottom: 2rem; }
.mbx  {  margin-bottom: 4rem; }
.mbxl {  margin-bottom: 8rem; }
.mbxxl { margin-bottom: 16rem; }

.mtn  {  margin-top: 0; }
.mtxs {  margin-top: .25rem; }
.mts  {  margin-top: .5rem; }
.mtm  {  margin-top: 1rem; }
.mtl  {  margin-top: 2rem; }
.mtx  {  margin-top: 4rem; }
.mtxl {  margin-top: 8rem; }
.mtxxl { margin-top: 16rem; }

.mvn   { margin-top: 0;      margin-bottom: 0rem; }
.mvxs  { margin-top: .25rem; margin-bottom: .25rem; }
.mvs   { margin-top: .5rem;  margin-bottom: .5rem; }
.mvm   { margin-top: 1rem;   margin-bottom: 1rem; }
.mvl   { margin-top: 2rem;   margin-bottom: 2rem; }
.mvx   { margin-top: 4rem;   margin-bottom: 4rem; }
.mvxl  { margin-top: 8rem;   margin-bottom: 8rem; }
.mvxl  { margin-top: 16rem;   margin-bottom: 16rem; }

.mhn   {  margin-left: 0;     margin-right: 0; }
.mhs   {  margin-left: .5rem; margin-right: .5rem; }
.mhm   {  margin-left: 1rem;  margin-right: 1rem; }
.mhl   {  margin-left: 2rem;  margin-right: 2rem; }
.mhx   {  margin-left: 4rem;  margin-right: 4rem; }
.mhxl  {  margin-left: 8rem;  margin-right: 8rem; }
.mhxxl  { margin-left: 16rem; margin-right: 16rem; }

@media screen and (min-width: 48em) {
  .pan-s  {  padding: 0; }
  .paxs-s {  padding: .25rem; }
  .pas-s  {  padding: .5rem; }
  .pam-s  {  padding: 1rem; }
  .pal-s  {  padding: 2rem; }
  .pax-s  {  padding: 4rem; }
  .paxl-s {  padding: 8rem; }
  .paxxl-s { padding: 16rem; }

  .pln-s  {  padding-left: 0; }
  .plxs-s {  padding-left: .25rem; }
  .pls-s  {  padding-left: .5rem; }
  .plm-s  {  padding-left: 1rem; }
  .pll-s  {  padding-left: 2rem; }
  .plx-s  {  padding-left: 4rem; }
  .plxl-s {  padding-left: 8rem; }
  .plxxl-s { padding-left: 16rem; }

  .prn-s  {  padding-right: 0; }
  .prxs-s {  padding-right: .25rem; }
  .prs-s  {  padding-right: .5rem; }
  .prm-s  {  padding-right: 1rem; }
  .prl-s  {  padding-right: 2rem; }
  .prx-s {   padding-right: 4rem; }
  .prxl-s {  padding-right: 8rem; }
  .prxxl-s { padding-right: 16rem; }

  .pbn-s  {  padding-bottom: 0; }
  .pbxs-s {  padding-bottom: .25rem; }
  .pbs-s  {  padding-bottom: .5rem; }
  .pbm-s  {  padding-bottom: 1rem; }
  .pbl-s  {  padding-bottom: 2rem; }
  .pbx-s  {  padding-bottom: 4rem; }
  .pbxl-s {  padding-bottom: 8rem; }
  .pbxxl-s { padding-bottom: 16rem; }

  .ptn-s  {  padding-top: 0; }
  .ptxs-s {  padding-top: .25rem; }
  .pts-s  {  padding-top: .5rem; }
  .ptm-s  {  padding-top: 1rem; }
  .ptl-s  {  padding-top: 2rem; }
  .ptx-s  {  padding-top: 4rem; }
  .ptxl-s {  padding-top: 8rem; }
  .ptxxl-s { padding-top: 16rem; }

  .pvn-s {   padding-top: 0;       padding-bottom: 0; }
  .pvxs-s {  padding-top: .25rem;  padding-bottom: .25rem; }
  .pvs-s {   padding-top: .5rem;   padding-bottom: .5rem; }
  .pvm-s {   padding-top: 1rem;    padding-bottom: 1rem; }
  .pvl-s {   padding-top: 2rem;    padding-bottom: 2rem; }
  .pvx-s {   padding-top: 4rem;    padding-bottom: 4rem; }
  .pvxl-s {  padding-top: 8rem;    padding-bottom: 8rem; }
  .pvxxl-s { padding-top: 16rem;   padding-bottom: 16rem; }

  .phn-s {   padding-left: 0;      padding-right: 0; }
  .pvxs-s {  padding-left: .25rem; padding-right: .25rem; }
  .phs-s {   padding-left: .5rem;  padding-right: .5rem; }
  .phm-s {   padding-left: 1rem;   padding-right: 1rem; }
  .phl-s {   padding-left: 2rem;   padding-right: 2rem; }
  .phx-s {   padding-left: 4rem;   padding-right: 4rem; }
  .phxl-s {  padding-left: 8rem;   padding-right: 8rem; }
  .phxxl-s { padding-left: 16rem;  padding-right: 16rem; }

  .man-s  {  margin: 0; }
  .maxs-s {  margin: .25rem; }
  .mas-s  {  margin: .5rem; }
  .mam-s  {  margin: 1rem; }
  .mal-s  {  margin: 2rem; }
  .max-s  {  margin: 4rem; }
  .maxl-s {  margin: 8rem; }
  .maxxl-s { margin: 16rem; }

  .mln-s  {  margin-left: 0; }
  .mlxs-s {  margin-left: .25rem; }
  .mls-s  {  margin-left: .5rem; }
  .mlm-s  {  margin-left: 1rem; }
  .mll-s  {  margin-left: 2rem; }
  .mlx-s  {  margin-left: 4rem; }
  .mlxl-s {  margin-left: 8rem; }
  .mlxxl-s { margin-left: 16rem; }

  .mrn-s  {  margin-right: 0; }
  .mrxs-s {  margin-right: .25rem; }
  .mrs-s  {  margin-right: .5rem; }
  .mrm-s  {  margin-right: 1rem; }
  .mrl-s  {  margin-right: 2rem; }
  .mrx-s  {  margin-right: 4rem; }
  .mrxl-s {  margin-right: 8rem; }
  .mrxxl-s { margin-right: 16rem; }

  .mbn-s  {  margin-bottom: 0; }
  .mbxs-s {  margin-bottom: .25rem; }
  .mbs-s  {  margin-bottom: .5rem; }
  .mbm-s  {  margin-bottom: 1rem; }
  .mbl-s  {  margin-bottom: 2rem; }
  .mbx-s  {  margin-bottom: 4rem; }
  .mbxl-s {  margin-bottom: 8rem; }
  .mbxxl-s { margin-bottom: 16rem; }

  .mtn-s  {  margin-top: 0; }
  .mtxs-s {  margin-top: .25rem; }
  .mts-s  {  margin-top: .5rem; }
  .mtm-s  {  margin-top: 1rem; }
  .mtl-s  {  margin-top: 2rem; }
  .mtx-s  {  margin-top: 4rem; }
  .mtxl-s {  margin-top: 8rem; }
  .mtxxl-s { margin-top: 16rem; }

  .mvn-s   {  margin-top: 0;      margin-bottom: 0rem; }
  .mvxs-s  {  margin-top: .25rem; margin-bottom: .25rem; }
  .mvs-s   {  margin-top: .5rem;  margin-bottom: .5rem; }
  .mvm-s   {  margin-top: 1rem;   margin-bottom: 1rem; }
  .mvl-s   {  margin-top: 2rem;   margin-bottom: 2rem; }
  .mvx-s   {  margin-top: 4rem;   margin-bottom: 4rem; }
  .mvxl-s  {  margin-top: 8rem;   margin-bottom: 8rem; }
  .mvxxl-s  { margin-top: 16rem;  margin-bottom: 16rem; }

   .mhn-s   {  margin-left: 0;     margin-right: 0; }
   .mhs-s   {  margin-left: .5rem; margin-right: .5rem; }
   .mhm-s   {  margin-left: 1rem;  margin-right: 1rem; }
   .mhl-s   {  margin-left: 2rem;  margin-right: 2rem; }
   .mhx-s   {  margin-left: 4rem;  margin-right: 4rem; }
   .mhxl-s  {  margin-left: 8rem;  margin-right: 8rem; }
   .mhxxl-s  { margin-left: 16rem; margin-right: 16rem; }

}

@media screen and (min-width:48em) and (max-width: 64em) {
  .pan-m  {  padding: 0; }
  .paxs-m {  padding: .25rem; }
  .pas-m  {  padding: .5rem; }
  .pam-m  {  padding: 1rem; }
  .pal-m  {  padding: 2rem; }
  .pax-m  {  padding: 4rem; }
  .paxl-m {  padding: 8rem; }
  .paxxl-m { padding: 16rem; }

  .pln-m  {  padding-left: 0; }
  .plxs-m {  padding-left: .25rem; }
  .pls-m  {  padding-left: .5rem; }
  .plm-m  {  padding-left: 1rem; }
  .pll-m  {  padding-left: 2rem; }
  .plx-m  {  padding-left: 4rem; }
  .plxl-m {  padding-left: 8rem; }
  .plxxl-m { padding-left: 16rem; }

  .prn-m  {  padding-right: 0; }
  .prxs-m {  padding-right: .25rem; }
  .prs-m  {  padding-right: .5rem; }
  .prm-m  {  padding-right: 1rem; }
  .prl-m  {  padding-right: 2rem; }
  .prx-m  {  padding-right: 4rem; }
  .prxl-m {  padding-right: 8rem; }
  .prxxl-m { padding-right: 16rem; }

  .pbn-m  {  padding-bottom: 0; }
  .pbxs-m {  padding-bottom: .25rem; }
  .pbs-m  {  padding-bottom: .5rem; }
  .pbm-m  {  padding-bottom: 1rem; }
  .pbl-m  {  padding-bottom: 2rem; }
  .pbx-m  {  padding-bottom: 4rem; }
  .pbxl-m {  padding-bottom: 8rem; }
  .pbxxl-m { padding-bottom: 16rem; }

  .ptn-m  {  padding-top: 0; }
  .ptxs-m {  padding-top: .25rem; }
  .pts-m  {  padding-top: .5rem; }
  .ptm-m  {  padding-top: 1rem; }
  .ptl-m  {  padding-top: 2rem; }
  .ptx-m  {  padding-top: 4rem; }
  .ptxl-m {  padding-top: 8rem; }
  .ptxxl-m { padding-top: 16rem; }

  .pvn-m {   padding-top: 0;       padding-bottom: 0; }
  .pvxs-m {  padding-top: .25rem;  padding-bottom: .25rem; }
  .pvs-m {   padding-top: .5rem;   padding-bottom: .5rem; }
  .pvm-m {   padding-top: 1rem;    padding-bottom: 1rem; }
  .pvl-m {   padding-top: 2rem;    padding-bottom: 2rem; }
  .pvx-m {   padding-top: 4rem;    padding-bottom: 4rem; }
  .pvxl-m {  padding-top: 8rem;    padding-bottom: 8rem; }
  .pvxxl-m { padding-top: 16rem;   padding-bottom: 16rem; }

  .phn-m {   padding-left: 0;      padding-right: 0; }
  .pvxs-m {  padding-left: .25rem; padding-right: .25rem; }
  .phs-m {   padding-left: .5rem;  padding-right: .5rem; }
  .phm-m {   padding-left: 1rem;   padding-right: 1rem; }
  .phl-m {   padding-left: 2rem;   padding-right: 2rem; }
  .phx-m {   padding-left: 4rem;   padding-right: 4rem; }
  .phxl-m {  padding-left: 8rem;   padding-right: 8rem; }
  .phxxl-m { padding-left: 16rem;  padding-right: 16rem; }

  .man-m  {  margin: 0; }
  .maxs-m {  margin: .25rem; }
  .mas-m  {  margin: .5rem; }
  .mam-m  {  margin: 1rem; }
  .mal-m  {  margin: 2rem; }
  .max-m  {  margin: 4rem; }
  .maxl-m {  margin: 8rem; }
  .maxxl-m { margin: 16rem; }

  .mln-m  {  margin-left: 0; }
  .mlxs-m {  margin-left: .25rem; }
  .mls-m  {  margin-left: .5rem; }
  .mlm-m  {  margin-left: 1rem; }
  .mll-m  {  margin-left: 2rem; }
  .mlx-m  {  margin-left: 4rem; }
  .mlxl-m {  margin-left: 8rem; }
  .mlxxl-m { margin-left: 16rem; }

  .mrn-m  {  margin-right: 0; }
  .mrxs-m {  margin-right: .25rem; }
  .mrs-m  {  margin-right: .5rem; }
  .mrm-m  {  margin-right: 1rem; }
  .mrl-m  {  margin-right: 2rem; }
  .mrx-m  {  margin-right: 4rem; }
  .mrxl-m {  margin-right: 8rem; }
  .mrxxl-m { margin-right: 16rem; }

  .mbn-m  {  margin-bottom: 0; }
  .mbxs-m {  margin-bottom: .25rem; }
  .mbs-m  {  margin-bottom: .5rem; }
  .mbm-m  {  margin-bottom: 1rem; }
  .mbl-m  {  margin-bottom: 2rem; }
  .mbx-m  {  margin-bottom: 4rem; }
  .mbxl-m {  margin-bottom: 8rem; }
  .mbxxl-m { margin-bottom: 16rem; }

  .mtn-m  {  margin-top: 0; }
  .mtxs-m {  margin-top: .25rem; }
  .mts-m  {  margin-top: .5rem; }
  .mtm-m  {  margin-top: 1rem; }
  .mtl-m  {  margin-top: 2rem; }
  .mtx-m  {  margin-top: 4rem; }
  .mtxl-m {  margin-top: 8rem; }
  .mtxxl-m { margin-top: 16rem; }

  .mvn-m {   margin-top: 0;      margin-bottom: 0rem; }
  .mvxs-m {  margin-top: .25rem; margin-bottom: .25rem; }
  .mvs-m {   margin-top: .5rem;  margin-bottom: .5rem; }
  .mvm-m {   margin-top: 1rem;   margin-bottom: 1rem; }
  .mvl-m {   margin-top: 2rem;   margin-bottom: 2rem; }
  .mvx-m {   margin-top: 4rem;   margin-bottom: 4rem; }
  .mvxl-m {  margin-top: 8rem;   margin-bottom: 8rem; }
  .mvxxl-m { margin-top: 16rem;  margin-bottom: 16rem; }

  .mhn-m {  margin-left: 0;      margin-right: 0; }
  .mhxs-m { margin-left: .25rem; margin-right: .25rem; }
  .mhs-m {  margin-left: .5rem;  margin-right: .5rem; }
  .mhm-m {  margin-left: 1rem;   margin-right: 1rem; }
  .mhl-m {  margin-left: 2rem;   margin-right: 2rem; }
  .mhx-m {  margin-left: 4rem;   margin-right: 4rem; }
  .mhxl {   margin-left: 8rem;   margin-right: 8rem; }
  .mhxxl {  margin-left: 16rem;  margin-right: 16rem; }

}

@media screen and (min-width: 64em) {
  .pan-l  {  padding: 0; }
  .paxs-l {  padding: .25rem; }
  .pas-l  {  padding: .5rem; }
  .pam-l  {  padding: 1rem; }
  .pal-l  {  padding: 2rem; }
  .pax-l  {  padding: 4rem; }
  .paxl-l {  padding: 8rem; }
  .paxxl-l { padding: 16rem; }

  .pln-l  {  padding-left: 0; }
  .plxs-l {  padding-left: .25rem; }
  .pls-l  {  padding-left: .5rem; }
  .plm-l  {  padding-left: 1rem; }
  .pll-l  {  padding-left: 2rem; }
  .plx-l  {  padding-left: 4rem; }
  .plxl-l {  padding-left: 8rem; }
  .plxxl-l { padding-left: 16rem; }

  .prn-l  {  padding-right: 0; }
  .prxs-l {  padding-right: .25rem; }
  .prs-l  {  padding-right: .5rem; }
  .prm-l  {  padding-right: 1rem; }
  .prl-l  {  padding-right: 2rem; }
  .prx-l  {  padding-right: 4rem; }
  .prxl-l {  padding-right: 8rem; }
  .prxxl-l { padding-right: 16rem; }

  .pbn-l  {  padding-bottom: 0; }
  .pbxs-l {  padding-bottom: .25rem; }
  .pbs-l  {  padding-bottom: .5rem; }
  .pbm-l  {  padding-bottom: 1rem; }
  .pbl-l  {  padding-bottom: 2rem; }
  .pbx-l  {  padding-bottom: 4rem; }
  .pbxl-l {  padding-bottom: 8rem; }
  .pbxxl-l { padding-bottom: 16rem; }

  .ptn-l  {  padding-top: 0; }
  .ptxs-l {  padding-top: .25rem; }
  .pts-l  {  padding-top: .5rem; }
  .ptm-l  {  padding-top: 1rem; }
  .ptl-l  {  padding-top: 2rem; }
  .ptx-l  {  padding-top: 4rem; }
  .ptxl-l {  padding-top: 8rem; }
  .ptxxl-l { padding-top: 16rem; }

  .pvn-l {   padding-top: 0;       padding-bottom: 0; }
  .pvxs-l {  padding-top: .25rem;  padding-bottom: .25rem; }
  .pvs-l {   padding-top: .5rem;   padding-bottom: .5rem; }
  .pvm-l {   padding-top: 1rem;    padding-bottom: 1rem; }
  .pvl-l {   padding-top: 2rem;    padding-bottom: 2rem; }
  .pvx-l {   padding-top: 4rem;    padding-bottom: 4rem; }
  .pvxl-l {  padding-top: 8rem;    padding-bottom: 8rem; }
  .pvxxl-l { padding-top: 16rem;   padding-bottom: 16rem; }

  .phn-l {   padding-left: 0;      padding-right: 0; }
  .pvxs-l {  padding-left: .25rem; padding-right: .25rem; }
  .phs-l {   padding-left: .5rem;  padding-right: .5rem; }
  .phm-l {   padding-left: 1rem;   padding-right: 1rem; }
  .phl-l {   padding-left: 2rem;   padding-right: 2rem; }
  .phx-l {   padding-left: 4rem;   padding-right: 4rem; }
  .phxl-l {  padding-left: 8rem;   padding-right: 8rem; }
  .phxxl-l { padding-left: 16rem;  padding-right: 16rem; }

  .man-l  {  margin: 0; }
  .maxs-l {  margin: .25rem; }
  .mas-l  {  margin: .5rem; }
  .mam-l  {  margin: 1rem; }
  .mal-l  {  margin: 2rem; }
  .max-l  {  margin: 4rem; }
  .maxl-l {  margin: 8rem; }
  .maxxl-l { margin: 16rem; }

  .mln-l  {  margin-left: 0; }
  .mlxs-l {  margin-left: .25rem; }
  .mls-l  {  margin-left: .5rem; }
  .mlm-l  {  margin-left: 1rem; }
  .mll-l  {  margin-left: 2rem; }
  .mlx-l  {  margin-left: 4rem; }
  .mlxl-l {  margin-left: 8rem; }
  .mlxxl-l { margin-left: 16rem; }

  .mrn-l  {  margin-right: 0; }
  .mrxs-l {  margin-right: .25rem; }
  .mrs-l  {  margin-right: .5rem; }
  .mrm-l  {  margin-right: 1rem; }
  .mrl-l  {  margin-right: 2rem; }
  .mrx-l  {  margin-right: 4rem; }
  .mrxl-l {  margin-right: 8rem; }
  .mrxxl-l { margin-right: 16rem; }

  .mbn-l  {  margin-bottom: 0; }
  .mbxs-l {  margin-bottom: .25rem; }
  .mbs-l  {  margin-bottom: .5rem; }
  .mbm-l  {  margin-bottom: 1rem; }
  .mbl-l  {  margin-bottom: 2rem; }
  .mbx-l  {  margin-bottom: 4rem; }
  .mbxl-l {  margin-bottom: 8rem; }
  .mbxxl-l { margin-bottom: 16rem; }

  .mtn-l  {  margin-top: 0; }
  .mtxs-l {  margin-top: .25rem; }
  .mts-l  {  margin-top: .5rem; }
  .mtm-l  {  margin-top: 1rem; }
  .mtl-l  {  margin-top: 2rem; }
  .mtx-l  {  margin-top: 4rem; }
  .mtxl-l {  margin-top: 8rem; }
  .mtxxl-l { margin-top: 16rem; }

  .mvn-l {   margin-top: 0;      margin-bottom: 0rem; }
  .mvxs-l {  margin-top: .25rem; margin-bottom: .25rem; }
  .mvs-l {   margin-top: .5rem;  margin-bottom: .5rem; }
  .mvm-l {   margin-top: 1rem;   margin-bottom: 1rem; }
  .mvl-l {   margin-top: 2rem;   margin-bottom: 2rem; }
  .mvx-l {   margin-top: 4rem;   margin-bottom: 4rem; }
  .mvxl-l {  margin-top: 8rem;   margin-bottom: 8rem; }
  .mvxxl-l { margin-top: 16rem;  margin-bottom: 16rem; }

  .mhn-l {   margin-left: 0;      margin-right: 0; }
  .mhxs-l {  margin-left: .25rem; margin-right: .25rem; }
  .mhs-l {   margin-left: .5rem;  margin-right: .5rem; }
  .mhm-l {   margin-left: 1rem;   margin-right: 1rem; }
  .mhl-l {   margin-left: 2rem;   margin-right: 2rem; }
  .mhx-l {   margin-left: 4rem;   margin-right: 4rem; }
  .mhxl-l {  margin-left: 8rem;   margin-right: 8rem; }
  .mhxxl-l { margin-left: 16rem;  margin-right: 16rem; }
}

